<h1>Shared Routines</h1>
<!-- 
<% current_user.routines.each do |saved| %>
  <%= saved.routine['list'] %>
<% end %> -->


<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <!-- Saved Exercises -->
      <tr>
      <th>
      nice
      </th>
      </tr>
    </thead>
    <tbody>
      <% current_user.routines.each do |allroutines| %>
        <tr>
        <td>
        <%= allroutines.name %>
        </td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>