/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$navbar-default-bg: white;
@import "bootstrap-sprockets";
@import "bootstrap";

/* START OF Change the Navbar Colors/Font/Size */
/* Adjust Menu (red) text color, (Garamond) font-family, (1.5em) font-size  */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
color:          black;                        
font-family: 'Asap', 'sans-serif';
}

.navbar-default .navbar-brand {
	font-family: 'Asap', 'sans-serif';
    color: black;
}

.sidenav-container {
	margin-left: 0px;
}

.sidenav-container .text-style {
  text-align: justify;
  line-height: 23px;
  margin: 0 13px 0 0;
  font-size: 19px;
}

.nav-sidebar {
	width: 100%;
	border-right: 1px solid #ddd;
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}

.nav-sidebar .active a { 
    cursor: default;
}








label {
    font-weight: normal !important;
}

textarea{
	resize:none;
}

body {
	font-family: 'Asap', 'sans-serif';
}

.no-margin{
	margin-left: 0px;
	margin-right: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.deleterow{cursor:pointer}